EmployeeService/EmployeeServiceFixtures/Service References/ServiceReference1/EmployeeService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ZeroEmployeesFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZeroEmployeesFault" nillable="true" type="tns:ZeroEmployeesFault" />
  <xs:complexType name="EmployeeIsNotPresentFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeIsNotPresentFault" nillable="true" type="tns:EmployeeIsNotPresentFault" />
  <xs:complexType name="EmployeeAldreadyPresentFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeAldreadyPresentFault" nillable="true" type="tns:EmployeeAldreadyPresentFault" />
  <xs:complexType name="ArgumentsEmptyFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArgumentsEmptyFault" nillable="true" type="tns:ArgumentsEmptyFault" />
</xs:schema>